.come-in {
	transform: translateX(150px);
	animation: come-in 1.5s ease forwards;
}
.come-in:nth-child(odd) {
	animation-duration: 1s; /* So they look staggered */
}

@keyframes come-in {
	to { transform: translateX(0); }
}